@use "./card/card.scss";

.products__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (min-width: 1024px) {
  .products__list {
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .products__list {
    gap: 1rem;
  }
}
