@use "variables";

$footer-background: variables.$fifth-color;
$footer-links-color: variables.$secondary-default-color;
$form-input-background: variables.$primary-default-color;
$form-label-color: variables.$third-color;
$form-btn-background: variables.$primary-color;
$form-btn-color: variables.$primary-default-color;
$attribution-background: variables.$primary-default-color;
$attribution-color: variables.$secondary-default-color;

.footer {
  grid-area: footer;
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  .container {
    padding: 1.651rem 1rem 1rem 1rem;
    background-color: $footer-background;

    .footer__links {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      .links__logo {
        width: 11rem;
        margin-bottom: 1.984rem;
      }

      .container__links {
        .links__item {
          display: block;
          margin-bottom: 1rem;
          font-weight: 500;
          text-align: center;
          color: $footer-links-color;
          text-decoration: none;
        }
      }
    }

    .form {
      .fieldset {
        display: flex;
        flex-flow: column nowrap;
        .fieldset__legend {
          margin-bottom: 0.5rem;
          font-weight: 700;
        }

        .fieldset__input {
          padding: 0.5rem 0.75rem;
          margin-bottom: 1rem;
          background-color: $form-input-background;
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
          .input__label {
            display: block;
            color: $form-label-color;
          }

          .input__element {
            display: block;
            width: 100%;
            margin-top: 0.25rem;
            padding: 0;
            border: none;
            outline: none;
            background: transparent;
          }
        }

        .fieldset__textarea {
          height: 5.125rem;
          padding: 1rem 0.5rem;
          margin-bottom: 0.5rem;
          outline: none;
          resize: none;
          border: none;
        }

        .fieldset__btn {
          width: 8.313rem;
          padding: 0.75rem 0.5rem;
          background-color: $form-btn-background;
          color: $form-btn-color;
          border: none;
        }
      }
    }
  }

  .attribution {
    padding: 2rem 1rem;
    font-weight: 500;
    background-color: $attribution-background;
    text-align: center;

    .attribution__link {
      color: $attribution-color;
      text-decoration: none;
    }
  }
}
