@use "variables";

.header {
  grid-area: header;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem 1.177rem;
  background-color: variables.$header-background-color;

  .navbar {
    width: 100%;
    .navbar__elements {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item__btn {
        width: 8.313rem;
        height: 2.5rem;
        font-size: 0.875rem;
        font-weight: 600;
        background: none;
        color: variables.$btn-login-color;
        border: 1px solid variables.$btn-login-border-color;
      }

      .item__text {
        display: none;
      }

      .item__loupe {
        width: 1.066rem;
      }
    }
  }
}
