@use "variables";

.header {
  grid-area: header;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem 1.177rem;
  background-color: variables.$header-background-color;

  .navbar {
    width: 100%;
    .navbar__elements {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item__btn {
        width: 8.313rem;
        height: 2.5rem;
        font-size: 0.875rem;
        font-weight: 600;
        background: none;
        color: variables.$btn-login-color;
        border: 1px solid variables.$btn-login-border-color;
      }

      .item__text {
        display: none;
      }

      .item__loupe {
        width: 1.066rem;
      }
    }
  }
}
// @media screen and (min-width: 1024px) {
//   .header {
//     padding-left: 3rem;
//     padding-right: 3rem;
//     .navbar {
//       .navbar__elements {
//         justify-content: start;
//         align-content: space-between;

//         .item--order-logo {
//           margin-right: 2rem;
//           .item__logo {
//             width: 11rem;
//           }
//         }

//         .item--order-loupe {
//           width: 24.563rem;
//           margin-right: 24rem;

//           .item__text {
//             display: block;
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (min-width: 1440px) {
//   .header {
//     padding-left: 9.5rem;
//     padding-right: 9.5rem;

//     .navbar {
//       .navbar__elements {
//         .item--order-loupe {
//           margin-right: 22.063rem;
//         }
//       }
//     }
//   }
// }
