$header-background-color: #fff;
$font-family: "Raleway", sans-serif;
$btn-login-border-color: #2a7ae4;
$btn-login-color: #2a7ae4;
$search-box-background-color: #f5f5f5;
$search-box-color: #a2a2a2;
$font-color-banner: #fff;
$btn-banner-background: #2a7ae4;
$btn-banner-color: #fff;
$footer-links-color: #000;
$label-color: #a2a2a2;
$input-color: #000;
$footer-background: #EAF2FD;
$form-background: #fff;
$form-btn-background: #2a7ae4;
$form-btn-color: #fff;
$attribution-background: #fff;
$attribution-color: #000;
$main-background: #E5E5E5;
$btn-background: #2a7ae4;
$btn-color: #fff;
