@use "../settings/colors" as colors;

.banner {
  grid-area: banner;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  background: url("../img/banner-image.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: colors.$primary-default-color;

  .banner__title {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1.375rem;
  }

  .banner__subtitle {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 0.875rem;
  }

  .banner__btn {
    width: 7.9rem;
    padding: 0.75rem 0.7rem;
    font-size: 0.875rem;
    font-weight: 600;
    background-color: colors.$primary-color;
    color: colors.$primary-default-color;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 2rem;
    .banner__title {
      margin-bottom: 1rem;
      font-size: 3.25rem;
    }

    .banner__subtitle {
      margin-bottom: 1rem;
      font-size: 1.375rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 2rem 9.5rem;

    .banner__btn {
      cursor: pointer;
    }
  }
}
