@use './banner';
@use './products/products';
@use '../settings/colors' as colors;

.main {
  grid-area: main;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-areas: "banner", "starwars", "consoles", "various";
  grid-template-columns: auto;
  grid-template-rows: 12rem repeat(3, auto);
  gap: 1rem;
  background-color: colors.$secondary-color;
}

@media screen and (min-width: 768px) {
  .main {
    grid-template-rows: 22rem repeat(3, auto);
  }
}