@use "../settings/colors" as colors;

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item__btn {
    width: 8.313rem;
    height: 2.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    background: none;
    color: colors.$primary-color;
    border: 1px solid colors.$primary-color;
  }

  .item__text {
    display: none;
  }

  .item__loupe {
    width: 1.066rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar__list {
    .item--order-logo {
      order: 1;
    }

    .item--order-btn {
      order: 3;
    }

    .item--order-loupe {
      order: 2;
    }

    .item--search {
      width: 17rem;
      height: 2.5rem;
      padding: 0.2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: colors.$fourth-color;
      color: colors.$third-color;
      border-radius: 20px;

      .item__text {
        display: inline-block;
        width: 100%;
        font-size: 0.875rem;
        font-weight: 400;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar__list {
    .item__logo {
      width: 11rem;
    }
    .item__btn {
      width: 11.375rem;
      height: 3.188rem;
      font-size: 1rem;
      cursor: pointer;
    }

    .item--order-loupe {
      padding: 0.5rem 1rem;
      width: 24.563rem;
    }
  }
}
